#dummy {
  display: none;
  border: none;
  width: 0;
  height: 0;
}
.otherUser {
  text-align: right;
}

.msgTag{
  font-size: 8;
  color: goldenrod;
}
#inputBox{
  position: relative;;
  top: 745;
}
#chatArea{

}
body{
  background-color: #FFFFFF;
}
