#dummy {
  display: none;
  border: none;
  width: 0;
  height: 0;
}
.otherUser {
  text-align: right;
}

.msgTag{
  font-size: 8;
  color: goldenrod;
}
.msg {
  padding-left: 15px;
  color: black;
  border-radius: 25px;
  background-color: white;
  max-width: 250px;
  word-wrap: break-word;
}
#inputBox{
  position: relative;;
  top: 745;
}
#chatArea{

}
body{
  background-color: #262626;
  color: white;
}
