.item1 {  grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: right; }
.item4 { grid-area: search; }
.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header'
    'menu menu menu right'
    'search search search search';
}
#head {
  text-align: center;
}
.nowrap {
  white-space: nowrap ;
}
#edit {
  text-align: right;
}
