.item1 {  grid-area: header; }
.item2 { grid-area: menu; background-color: grey; }
.item3 { grid-area: right; }
.item4 { grid-area: search; }
.item5 { grid-area: menu2; background-color: grey; }
.item6 { grid-area: menu3; }
.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header'
    'menu menu menu right'
    'search search search search';
}
p {
  color: white;
}
h4 {
  color: white;
}
#head {
  text-align: center;
}
.nowrap {
  white-space: nowrap ;
}
#edit {
  text-align: right;
}
#main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:  100px;

}
#clean {
  position: absolute;
  top: 157px;
  left:120px;
}
#cleantag {
  position: absolute;
  top: 117px;
  left:120px;
}
#sleep {
  position: absolute;
  top: 157px;
  left: 260px;
}
#sleeptag {
  position: absolute;
  top: 117px;
  left:260px;
}
#wake {
  position: absolute;
  top: 157px;
  left:470px;
}
#waketag {
  position: absolute;
  top: 117px;
  left:470px;
}
#search {
  position: relative;
  float: right;
}
#prof {
  text-align: center;
}
#specialtext {
  color: white;
}
#blacktext {
  color: black;
}
#wrap {
  white-space: nowrap;
}
.card {
  display: inline-block;
}
body {
  background-color: #262626;
  background-size: cover;
  color: white;
}
