
.item1 {  grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }
.item6 { grid-area: whatever; }
.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header'
    'menu main main right'
    'footer footer whatever whatever';
}
.grid-container > div {
  padding: 20px 0;
}
p {
  color: white;
}
h1 {
  color: white;
}
#main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:  100px;

}
textarea {
  resize: none;
}
#pref {
  margin-left: 10px;
}
#batton {
  margin-left: auto;
}
body {
  background-color: #262626;
}
/*
#bio1 {
  position: relative;
  left: 10;
  bottom: 175;
}
#bio2 {
  position: relative;
  left: -35;
  bottom: 135;
}
#bio3 {
  position: relative;
  left: -85;
  bottom: 95;
}
#bio4 {
  position: relative;
  left: -130;
  bottom: 55;
}
#bio5 {
  position: relative;
  left: 345;
  bottom: 175;
}
#about {
  position: relative;
  left: 265;
  bottom: 155;
}
#public {
  position: relative;
  left:280;
  bottom: 175;
}
#aboutme {
  position: relative;
  left: 195;
  bottom: 0;
}
textarea{
  resize: none;
}
#submit {
  position: relative;
  left: -180;
  bottom: -165;
  color: white;
}
#sub1 {
  position: relative;
  left: -650;
  bottom: 165;
}
#sub2 {
  position: relative;
  left: -810;
  bottom: 125;
}
#sub3 {
  position: relative;
  left: 425;
  bottom: 290;
}
#sub4 {
  position: relative;
  left: 265;
  bottom: 247;
}
