#main {
  position: relative;
  top: 170;
  text-align: center;
}
#login {
  position: absolute;
  right: 5px;
  color: white;
}
#blurb {
  font-size: 15px;
  margin: auto;
  max-width: 500px;
  position: relative;
  top: 190;
  text-align: center;
}
#team {
  position: relative;
  top: 415;
  text-align: center;
}
body {
  background-color: #fce803;
}
a:visited {
  color: inherit;
}
