.item1 {  grid-area: header; }
.item2 { grid-area: menu; background-color: grey; }
.item3 { grid-area: right; }
.item4 { grid-area: search; }
.item5 { grid-area: menu2; background-color: grey; }
.item6 { grid-area: menu3; }
.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header'
    'menu menu menu menu'
    'search search search search';
}
p {
  color: white;
}
h4 {
  color: white;
}
#head {
  text-align: center;
}
#wrap {
  color: black;
  word-break:break-all;
}
#container {
  overflow: inherit;
}
#edit {
  text-align: right;
}
#main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:  100px;

}
#clean {
  position: absolute;
  top: 157px;
  left:250px;
}
#cleantag {
  position: absolute;
  top: 117px;
  left:250px;
}
#studytag {
  position: absolute;
  top: 117px;
  left: 1000px;
}
#study {
  position: absolute;
  top: 157px;
  left: 1000px;
}
#gendertag {
  position: absolute;
  top: 117px;
  left: 1250px;
}
#gender {
  position: absolute;
  top: 157px;
  left: 1250px;
}
#search {
  background-color:  rgb(106, 168, 79);
  border-color:  rgb(106, 168, 79);
  float: right;
}
#container {
  background-color:  rgb(106, 168, 79);
  border-color:  rgb(106, 168, 79);
}

#profile_edit {
    background-color:  rgb(106, 168, 79);
    border-color:  rgb(106, 168, 79);
    position: absolute;
    top: 0rem;
    right: 0rem;
}
#sleep {
  position: absolute;
  top: 157px;
  left: 500px;
}
#sleeptag {
  position: absolute;
  top: 117px;
  left:500px;
}
#wake {
  position: absolute;
  top: 157px;
  left:750px;
}
#waketag {
  position: absolute;
  top: 117px;
  left:750px;
}
#search {
  position: relative;
  float: right;
}
#prof {
  text-align: center;
}
#specialtext {
  color: white;
}
#blacktext {
  color: black;
  white-space: nowrap;
}
#submitbut {
  color: #eb6434;
}
.card-text {
  word-wrap: break-word;
}
.card {
  display: inline-block;
  max-width: 100%;
}
.card-img-top{
  width: 17.90rem;
  height: 16rem;
}
.card-title {
  position: relative;
  top: -2.75rem;
  left:-2rem;
  max-height: 25px;
  overflow: hidden;
}
.card-text {
  position: relative;
  top: -3rem;
  left:-2rem;
  width: 270px;
  max-width: 400px;
  max-height: 70px;
  word-wrap: break-word;
  overflow: hidden;
}
#container {
    margin-top: 25px;
    margin-right: 20px;
    margin-left: 20px;
}
#submitbtn {
  position: relative;
  left: -2rem;
}
#chatbtn {
  position: relative;
  left: 11rem;
  top: -2.5rem
}
.textContainer {
  width: 1rem;
  height: 2.5rem;
}
textarea {
  resize: none;
}
body {
  background-color: #262626;
  background-size: cover;
  color: white;
}
