#main {
  position: relative;
  top: 170;
  text-align: center;
}

#mainpage {
  margin: auto;
  max-width: 500px;
  position: relative;
  top: 180;
  right: -460;
  width:  1000;
}
#login {
  position: absolute;
  right: 10px;
  top: 10;
  background-color:  rgb(106, 168, 79);
  border-color:  rgb(106, 168, 79);
}
#logout {
  position: absolute;
  right: 10px;
  top: 10;
  background-color:  rgb(106, 168, 79);
  border-color:  rgb(106, 168, 79);
}
#search {
  position: absolute;
  right: 90px;
  top: 10;
  background-color:  rgb(106, 168, 79);
  border-color:  rgb(106, 168, 79);
}
#profile_edit {
  position: absolute;
  right: 273px;
  top: 10;
  background-color:  rgb(106, 168, 79);
  border-color:  rgb(106, 168, 79);
}
#blurb {
  font-size: 15px;
  margin: auto;
  max-width: 500px;
  position: relative;
  top: 140;
  text-align: center;
}
#team {
  position: relative;
  top: 450;
  text-align: center;
}
body {
  background-image: url('https://cdn.wallpapersafari.com/15/17/TCyBmw.gif');
  background-size: cover;
  color: white;
}
a:visited {
  color: inherit;
}
