<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/chat.css">

  </head>
  <body>
    <a href="/search" id="submitbtn"><button class="btn btn-danger">Back to search!</button></a>
    <h1 id="headchat">Chat with {{otherUser.name}}</h1>
    <hr>
    <form method ="post"  target="dummy" action = "/chat">
    <input type = "text" placeholder="send a chat to {{otherUser.name}}" id ="inputBox" name = "userMsg"/>
    <input type ="hidden" name ="chatKey" value="{{chatKey}}"/>
    <input type = "hidden" name = "otherId" value = "{{otherId}}"/>
    <input type = "reset" id ="reset" name = "reset"/>

    <input id = "send" type = "submit"/>
  </form>
    <div id = "chatbox">
      {% for message in messages %}
      {% if message.sentId == userId %}
      <p class = "msgTag">me</p>
      <p class = "msg">{{message.msg}}</p>
      {% else %}
      <p class = "otherTag">{{otherUser.name}}</p>
      <p class = "otherUser otherMsg">{{message.msg}}</p>
      {% endif %}
      {% endfor %}
    </div>




  <iframe id = "dummy" name ="dummy"></iframe>
  <script>var initialCount = {{initialCount}}</script>
  <script>var currentUser = {{userId}}</script>
  <script type="text/javascript" src="/scripts/chat.js"></script>
  </body>
</html>
