<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/styleProfView.css">
  </head>
  <body>
    <a href="/search"><button id="search" class="btn btn-danger"> View Potential Roomies!</button></a>
    <script type="text/javascript" src="/scripts/script.js"></script>
    <form method  = "post" action = "/profile_edit">
      <div class="grid-container">
      <div class="item1">
        <a href="/"><image id="main" src="https://i.imgur.com/BKPQnUQ.png"></a>
        <hr>
      </div>
      <div class="item2">
        <image src="{{user.pfpurl}}" id="profpic">
        <br><br>
      </div>
      <div class="item3">
        <p class= "first" id = "bio1"><b>Name:</b> {{user.name}}</p>
        <p class="first"id = "bio4"><b>Gender:</b> {{user.gender}}</p>
        <p class = "first" id = "bio3"><b>Major:</b> {{user.major}}</p>
        <p class= "first" id = "bio2"><b>School:</b> {{user.school}}</p>
      </div>
      <br>
      <div class="item7">
        <p><b>About Me:</b></p>
        <p id="leftside"> {{user.about_me}}</b></p>

      </div>
      <div class="item5">
        <h1 id = "pref" >Room Preferences</h1>
        <hr>
        <p id = "pref"><b>Noise Level:</b> {{user.noise_level}}</p>
        <br><br>
        <p id = "pref"><b>Cleanliness:</b> {{user.cleanliness}}</p>
        <br><br>
        <p id = "pref"><b>When Do You Go To Sleep?:</b> {{user.sleep_time}}</p>
        <br><br>
        <p id = "pref"><b>When Do You Wake Up?:</b> {{user.wake_time}}</p>
        <br><br>
        <p id="pref"><b>Do you Study in Your Room?:</b> {{user.study_in_room}}</p>
        </div>
        <div class="item6">
          <h1>Hobbies/Interests</h1>
          <hr>
          <p id = "pref"><b>What Kind of Music Do You Like?</b></p>
          <p id = "pref">{{user.music_genre}}</p>
          <br>
          <p id = "pref"><b>What Kind of Movies Do You Like?</b></p>
          <p id = "pref">{{user.movies}}</p>
          <br>
          <p id = "pref"><b>What Kind of Games (Sports and Video Games) Do You Like?</b></p>
          <p id = "pref">{{user.games}}</p>
          <br>
          <p id = "pref"><b>Misc. Interests</b></p>
          <p id = "pref">{{user.misc}}</p>
          <br>
          </div>
      </div>
    </form>
      {% if isRoomie == False %}
        <form method  = "post" action = "/roomie">
          <input type="hidden" name="roomieToAdd" value="{{user.id}}">
          <a href="/roomie?roomieToAdd={{user.id}}"><button id="notsearch" class="btn btn-danger">Add as a potential roomie!</button></a>
        </form>
      {% else %}
        <form method  = "post" action = "/rkill">
          <input type="hidden" name="roomieToKill" value="{{user.id}}">
          <h4>You are considering being roomies with this person! Do you want to delete this person from your roomie list?</h4>
          <a href="/rkill?roomieToKill={{user.id}}"><button id="notsearch" class="btn btn-danger">Delete as a potential roomie!</button></a>
        </form>
      {% endif %}
  </body>
</html>
