<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/stylesProf.css">
  </head>
  <body>
    <form method  = "post" action = "/profile_edit">
      <div class="grid-container">
      <div class="item1">
        <a href="/"><image id="main" src="https://i.imgur.com/BKPQnUQ.png"></a>
        <hr>
      </div>
      <div class="item2">
        <image src="{{user.pfpurl}}" id="pfp">
        <br><br>
        <button type="button" id="pref" class="btn btn-info">Submit Image</button>
        <script src="/scripts/script.js" type="text/javascript"></script>
      </div>
      <div class="item3">
        <p class= "first" id = "bio1"><b>Name:</b></p>
        <textarea name = "user_name"id="sub1" rows = "1" cols="20">{{user.name}}</textarea>
        <p class="first"id = "bio4"><b>Gender:</b></p>
        <select name="user_gender" id="gender" selected="{{user.gender}}">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
        </select>
        <p class = "first" id = "bio3"><b>Major:</b></p>
        <textarea name = "user_major" id="sub3" rows = "1" cols="20">{{user.major}}</textarea>
        <p id="collegetag"><b>College:</b></p>
        <select name="user_school" id="college" selected="{{user.school}}">
          {% for college in colleges %}
            <option value="{{college.name}}">{{college.name}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="item4">
        <p class="first"id = "bio5"><b>Public?</b></p>
        <input type="checkbox" name="public" value="" id="public">
        <p id = "about"><b>About Me:</b></p>
        <textarea name = "user_about_me"id="aboutme" rows="7" cols="50">{{user.about_me}}</textarea>
      </div>
      <br>
      <div class="item5">
        <h1 id = "pref" >Room Preferences</h1>
        <hr>
        <p id = "pref"><b>Noise Level:</b></p>
        <select name="user_noise_level" id = "pref" selected="{{user.noise_level}}">
          <option value="Quiet">Quiet</option>
          <option value="Loud">Loud</option>
          <option value="Indifferent">Indifferent</option>
        </select>
        <br><br>
        <p id = "pref"><b>Cleanliness:</b></p>
        <select name="user_cleanliness" id = "pref" selected="{{user.cleanliness}}">
          <option value="Organized">Organized</option>
          <option value="Disorganized">Disorganized</option>
          <option value="Indifferent">Indifferent</option>
        </select>
        <br><br>
        <p id = "pref"><b>When Do You Go To Sleep?:</b></p>
        <select name="user_sleep_time" id = "pref" selected="{{user.sleep_time}}">
          <option value="Early">Early</option>
          <option value="Late">Late</option>
          <option value="Indifferent">Indifferent</option>
        </select>
        <br><br>
        <p id = "pref"><b>When Do You Wake Up?:</b></p>
        <select name="user_wake_time"id = "pref" selected="{{user.wake_time}}">
          <option value="Early">Early</option>
          <option value="Late">Late</option>
          <option value="Indifferent">Indifferent</option>
        </select>
        <br><br>
        <p id = "pref"><b>Do You Study in Your Room?:</b></p>
        <select name="study_in_room"id = "pref" selected="{{user.study_in_room}}">
          <option value="Yes">Yes</option>
          <option value="No">No</option>
          <option value="Indifferent">Indifferent</option>
        </select>
        </div>
        <div class="item6">
          <h1>Hobbies/Interests</h1>
          <hr>
          <p id = "pref"><b>What Kind of Music Do You Like?</b></p><br>
          <textarea name = "user_music_genre" id = "pref" rows = "3" cols="60">{{user.music_genre}}</textarea><br><br>
          <p id = "pref"><b>What Kind of Movies Do You Like?</b></p><br>
          <textarea name = "user_movies" id = "pref" rows = "3" cols="60">{{user.movies}}</textarea><br><br>
          <p id = "pref"><b>What Kind of Games (Sports and Video Games) Do You Like?</b></p><br>
          <textarea name = "user_games"id = "pref" rows = "3" cols="60">{{user.games}}</textarea><br><br>
          <p id = "pref"><b>Misc. Interests</b></p><br>
          <textarea name = "user_misc" id = "pref" rows = "3" cols="60">{{user.misc}}</textarea><br><br>
          <input class="btn btn-danger" type="submit" value="Submit">
        </div>
      </div>
    </form>
  </body>
</html>
