<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    </div>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/stylesSearch.css">
    <title>Search</title>
  </head>
  <body>
    <div class="grid-container">
      <div class="item1">
        <div class="item1">
          <a href="/"><image id="main" src="https://i.imgur.com/BKPQnUQ.png"></a>
          <a href="/profile_edit"><button id="profile_edit" class="btn btn-danger"> Edit Profile</button></a>
          <hr>
        </div>
      </div>
      <div class="item2">
        <h4 id="submitbut">Search</h4>
        <form method  = "get" action = "/searchfilter">
          <p>Noise Level:</p>
          <select name="noise">
            <option value="Select" selected hidden>Select</option>
            <option value="Quiet">Quiet</option>
            <option value="Loud">Loud</option>
            <option value="Indifferent">Indifferent</option>
          </select>
          <p id ="cleantag">Cleanliness:</p>
          <select name="clean" id="clean" class="downer">
            <option value="Select" selected hidden>Select</option>
            <option value="Organized">Organized</option>
            <option value="Disorganized">Disorganized</option>
            <option value="Indifferent">Indifferent</option>
          </select>
          <p id="sleeptag">When Do You Go To Sleep?</p>
          <select name="sleep" id="sleep">
            <option value="Select" selected hidden>Select</option>
            <option value="Early">Early</option>
            <option value="Late">Late</option>
            <option value="Indifferent">Indifferent</option>
          </select>
          <p id="waketag">When Do You Wake Up?</p>
          <select name="wake" id="wake">
            <option value="Select" selected hidden>Select</option>
            <option value="Early">Early</option>
            <option value="Late">Late</option>
            <option value="Indifferent">Indifferent</option>
          </select>
          <p id="studytag">Do You Study in Your Room?</p>
          <select name="study" id="study">
            <option value="Select" selected hidden>Select</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
            <option value="Indifferent">Indifferent</option>
          </select>
          <p id="gendertag">Gender</p>
          <select name="gender" id="gender">
            <option value="Select" selected hidden>Select</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
            <option value="Indifferent">Indifferent</option>
          </select>
          <!--<p>School: </p>
          <textarea name = "school"id="sub1" rows = "1" cols="20"></textarea>
          -->
        </div>
      <div class="item4">
        <input id="search" class="btn btn-danger" type="submit" value="Submit">
      </form>
        <br>
        {% for user in users %}
        <div id="container" class="card" style="width: 18rem;">
          {% if user.pfpurl %}
          <img class="card-img-top" src="{{user.pfpurl}}" alt="Card image cap">
          {% else %}
          <img class="card-img-top" src="http://www.stleos.uq.edu.au/wp-content/uploads/2016/08/image-placeholder-350x350.png" alt="Card image cap">
          {% endif %}
          <div class="card-body" id="container">
            <h5 class="card-title" id="wrap">{{user.name}}</h5>
            <div class="textContainer">
              <p class="card-text" id="wrap">{{user.about_me}}</p>
            </div>
            <a href="/profile_view?prof={{user.id}}" id="submitbtn" class="btn btn-primary">See profile</a>
            <form method = "post" action = "/search">
            <input type = "hidden" name = "otherId" value = "{{user.id}}"/>
            <input type ="submit" value="Chat!" class="btn btn-primary" id="chatbtn">
            </form>

          </div>
        </div>
        {% endfor %}
        <br>
        <h1>Roomies</h1>
        <hr>
          {% for roomie in roomies %}
          <div id="container" class="card" style="width: 18rem;">
            {% if roomie.pfpurl %}
            <img class="card-img-top" src="{{roomie.pfpurl}}" alt="Card image cap">
            {% else %}
            <img class="card-img-top" src="http://www.stleos.uq.edu.au/wp-content/uploads/2016/08/image-placeholder-350x350.png" alt="Card image cap">
            {% endif %}
            <div class="card-body" id="container">
              <h5 class="card-title" id="wrap">{{roomie.name}}</h5>
              <div class="textContainer">
                <p class="card-text" id="wrap">{{roomie.about_me}}</p>
              </div>
              <a href="/profile_view?prof={{roomie.id}}" id="submitbtn" class="btn btn-primary">See profile</a>
              <form method = "post" action = "/search">
              <input type = "hidden" name = "otherId" value = "{{roomie.id}}"/>
              <input type ="submit" value="Chat!" class="btn btn-primary" id="chatbtn">
              </form>
            </div>
          </div>
          {% endfor %}
    </div>
    </div>
  </body>
</html>
