<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Search</title>
  </head>
  <body>
    <div class="card" style="width:400px">
      <img class="card-img-top" src="/Users/cssi/Documents/GitHub/cssi-labs/command-line/labs/around-the-world/France/Paris/Louvre.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">big boi</h4>
        <p class="card-text">Some example text.</p>
        <a href="#" class="btn btn-primary">See Profile</a>
      </div>
    </div>
  </body>
</html>
