<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <div class="item1">
        <image id="main" src="https://i.imgur.com/BKPQnUQ.png">
        <hr>
      </div>
    </div>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/stylesSearch.css">
    <title>Search</title>
  </head>
  <body>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://cms-tc.pbskids.org/arthurwebsite/resources/static/arthur_twitter_card.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="/profile_view" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </body>
</html>
